body {
    width: 100vw;
    height: 100vh;
}

#clock {
    font-size: 110px;
}

h1 {
    color: white;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    /* align-content: center; */
}

.hidden {
    display: none;
}